/*-- scss:defaults --*/



/*-- scss:rules --*/

:root {
    --background-color-light: white;
    --background-color-dark: #333;
    --heading-color-dark: #ddd;
    --text-color: #121416d8;
    --link-color: #543fd7;
    --menu-color: #5d90e4;
}

#theme-toggle {
  background: none;
  border: none;
  height: 1.45rem;
  width: 1.45rem;
  float: right;
  margin-right: 0.75rem;
}
#theme-toggle:hover {
  cursor: pointer;
}

.d-none {
  display: none;
}
[data-theme='light'] .d-block-light {
  display: block !important;
}
[data-theme='dark'] .d-block-dark {
    display: block !important;
}
.d-block {
  color: var(--menu-color);
  fill: var(--menu-color);
  font-weight: bold;
  margin: 0 !important;
}
@media print {
  .d-block {display: none;}
}
#moon {
  height: 1.5rem;
  transform: translate(-25%);
}
#sun {
  height: 1.5rem;
  transform: translate(-25%, -5%);
}
@media screen and (max-width: 800px) {
  #theme-toggle {
    height: 1.1rem;
    width: 1.1rem;
  }
  #moon, #sun {
    height: 1.1rem;
  }
}




.btn-outline-dark {
    background-color: #eee;
}

body, .reveal {
  transition-duration: 1s;
}


[data-theme='dark'] .reveal {
    background-color: var(--background-color-dark);
    color: white;
}

[data-theme='dark'] .reveal h1 {
    color: var(--heading-color-dark);
}
[data-theme='dark'] .reveal h2 {
    color: var(--heading-color-dark);
}
[data-theme='dark'] .reveal h3 {
    color: var(--heading-color-dark);
}


[data-theme='dark'] a {
    color: lightblue;
    transition-duration: 0.5s;
}
[data-theme='dark'] .reveal blockquote {
    color: #ddd;
  }

[data-theme='dark'] .invertable {
    filter: invert(1) hue-rotate(180deg) saturate(10);
}
[data-theme='dark'] .invertable-blue {
    filter: invert(1) hue-rotate(180deg) brightness(3) saturate(70%);
  }


/* for lecture slides */

/* doesn't work; changes every h1, because each slide is its own section?
.reveal h1:first-of-type {
  color: red;
  font-size: 6rem !important;
}
*/

/* style the very first h1, i.e. the lecture title */
.reveal .slides>section:first-of-type h1 {
  font-size: 6rem !important;
}

.reveal .subhead {
  font-size: 5rem !important;
  font-weight: bold;
  position: absolute;
  top: 1.3em;
  left: auto;
  right: 0.3em;
  opacity: 0.6;
}

/* this points to the cover image */
.reveal .slides>section:first-of-type img {
  width: 100%;
  height: 100%;
}

.reveal h1 {
  font-size: 4rem !important;
}

.reveal h2 {
  font-size: 4rem !important;
}

/*
.cover h2 {
  font-size: 2em;
}

.cover-image {
  margin: 0;
  text-align: center;
}

.title-slide .img {
  text-align: center;
}

.lecture-title img {
  margin-top: 0;
}
*/

.reveal img {
  margin-left: 50%;
  transform: translate(-50%);
}

.small {
  font-size: 0.85em;
}

.smallest {
  font-size: 0.65em;
}


/* control the look of tables */
table {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse;
}

.table-small {
  font-size: 0.75em;
}

table thead {
  border-bottom: 2px solid;
}

.reveal tr:hover {
  background-color: #ffa;
}



.heading-background {
  background-color: rgba(255, 255, 255, 0.7);
}


.top {
  position: absolute;
  top: 0;
}

.center-element {
  text-align: center;
}

.c {
  text-align: center;
}

.emph {
  color: red;
  font-weight: bold;

}

.playing-card {
  text-align: center;
  font-size: 8em;
}

.playing-card:hover {
  transform: scale(1.1);
}




.reference {
  text-align: left !important;
  padding-left: 2em;
  text-indent: -1em;
}


