/*-- scss:defaults --*/

/*--
$body-bg: #b7b09c;
$body-color: #4e3629;
$link-color: #ffc72c;
$presentation-heading-color: #cc0000;
$code-color: #cc0000;
$code-block-bg: #ded9ca;
$code-block-border-color: #000000;
--*/



/*-- scss:rules --*/



/* for lecture slides */

.cover h2 {
  font-size: 2em;
}

.cover-image {
  margin: 0;
  text-align: center;
}

.title-slide .img {
  text-align: center;
}

.lecture-title img {
  margin-top: 0;
}

.reveal img {
  margin-left: 50%;
  transform: translate(-50%);
}

.small {
  font-size: 0.85em;
}


/* look of tables */
table {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-collapse: collapse; }

table thead {
  border-bottom: 2px solid black;
}

tr:hover {
  background-color: #ffa;
}


.reveal h1 {
  font-size: 4rem !important;
}

.reveal .lecture-title h1 {
  font-size: 6rem !important;
}

.reveal h2 {
  font-size: 4rem !important;
}

.lecture-title {
  font-size: 6rem !important;
}

.heading-background {
  background-color: rgba(255, 255, 255, 0.7);
}

.top {
  position: absolute;
  top: 0;
}

.table-small {
  font-size: 0.75em;
}

.playing-card {
  text-align: center;
  font-size: 8em;
}

.playing-card:hover {
  transform: scale(1.1);
}
