/*-- scss:defaults --*/



/*-- scss:rules --*/

:root {
    --background-color-light: white;
    --background-color-dark: #333;
    --text-color-light: #121416d8;
    --text-color-dark: white;
    --heading-color: #333
    --heading-color-dark: #ddd;
    --link-color-light: #5f93e5;
    --link-color-dark: lightblue;
    --menu-color: #5f93e5;
}

html[data-theme='light'] {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --link-color: var(--link-color-light);
}

html[data-theme='dark'] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --link-color: var(--link-color-dark);
}

.reveal {
    background-color: var(--background-color);
    color: var(--text-color);
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

a, .reveal a {
    color: var(--link-color);
}

.math {
  font-family: KaTeX_Main;
}

.italic {
  font-style: italic;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

/* stuff for the dark mode toggle button */

[data-theme='dark'] .bi-moon:before {
    content: "\f5a2";
}


#theme-toggle {
  background: none;
  border: none;
  height: 1.45rem;
  width: 1.45rem;
  float: right;
  margin-right: 0.75rem;
}
#theme-toggle:hover {
  cursor: pointer;
}

.d-none {
  display: none;
}
[data-theme='light'] .d-block-light {
  display: block !important;
}
[data-theme='dark'] .d-block-dark {
    display: block !important;
}
.d-block {
  color: var(--menu-color);
  fill: var(--menu-color);
  font-weight: bold;
  margin: 0 !important;
}

#moon {
  height: 1.5rem;
  transform: translate(-25%);
}
#sun {
  height: 1.5rem;
  transform: translate(-25%, -5%);
}
@media screen and (max-width: 800px) {
  #theme-toggle {
    height: 1.1rem;
    width: 1.1rem;
  }
  #moon, #sun {
    height: 1.1rem;
  }
}
@media print {
  #moon, #sun {display: none;}
}
html.print-pdf #theme-toggle {display: none;}

.slide-menu-wrapper .slide-menu-toolbar .fa-github-source::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="white" d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>');
}

[data-theme='dark'] {
  .slide-menu-button, .slide-chalkboard-buttons {filter: saturate(0.4) brightness(2);}
  .progress, .d-block {color: var(--link-color-dark); fill: var(--link-color-dark);}
}


.btn-outline-dark {
    background-color: #eee;
}

/*
body, .reveal {
  transition-duration: 1s;
}
*/

/*
[data-theme='dark'] .reveal {
    background-color: var(--background-color-dark);
    color: white;
}
[data-theme='dark'] body {
    background-color: var(--background-color-dark);
    color: white;
}
*/
[data-theme='dark'] {
  .reveal h1 {
    color: var(--heading-color-dark);
  }
  .reveal h2 {
    color: var(--heading-color-dark);
  }
  .reveal h3 {
    color: var(--heading-color-dark);
  }
}



[data-theme='dark'] .sidebar nav[role=doc-toc] ul>li>a.active {
  border-left: 1px solid var(--link-color-dark);
  color: var(--link-color-dark) !important;
}

[data-theme='dark'] {
  .reveal blockquote {
    color: #ddd;
  }
  .aside-footnotes {
    color: #ddd;
  }
}

[data-theme='dark'] {
  .invertable {
    filter: invert(1) hue-rotate(180deg) saturate(10);
  }
  .invertable-blue {
      filter: invert(1) hue-rotate(180deg) brightness(3) saturate(70%);
  }
  .invertable-desaturate {
      filter: hue-rotate(180deg) brightness(80%) invert(1) saturate(70%);
  }
}

[data-theme='dark'] table tr:hover {
    background-color: #444;
}

[data-theme='dark'] .btn-outline-dark {
    color: #eee;
    background-color: #555;
} .btn-outline-dark:hover {
    color: #555;
    background-color: #eee;
}
/* for lecture slides */

/* doesn't work; changes every h1, because each slide is its own section?
.reveal h1:first-of-type {
  color: red;
  font-size: 6rem !important;
}
*/

/* style the very first h1, i.e. the lecture title */
.reveal .slides>section:first-of-type h1 {
  font-size: 6rem !important;
}

.reveal .subhead {
  font-size: 5rem !important;
  font-weight: bold;
  position: absolute;
  top: 1.3em;
  left: auto;
  right: 0.3em;
  opacity: 0.6;
}

/* this points to the cover image */
.reveal .slides>section:first-of-type img {
  width: 100%;
  height: 100%;
}

.reveal h1 {
  font-size: 4rem !important;
}

.reveal h2 {
  font-size: 4rem !important;
}

/*
.cover h2 {
  font-size: 2em;
}

.cover-image {
  margin: 0;
  text-align: center;
}

.title-slide .img {
  text-align: center;
}

.lecture-title img {
  margin-top: 0;
}
*/

.reveal img {
  margin-left: 50%;
  transform: translate(-50%);
}

.small {
  font-size: 0.85em;
}

.smallest {
  font-size: 0.65em;
}


/* control the look of tables */
table {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse;
}

.table-small {
  font-size: 0.75em;
}

table thead {
  border-bottom: 2px solid;
}

.reveal tr:hover {
  background-color: lightblue;
}



.heading-background {
  color: #444 !important;
  background-color: rgba(255, 255, 255, 0.7);
}


.top {
  position: absolute;
  top: 0;
}

.center-element {
  text-align: center;
}

.c {
  text-align: center;
}

.emph {
  color: red;
  font-weight: bold;

}

.playing-card {
  text-align: center;
  font-size: 8em;
}

.playing-card:hover {
  transform: scale(1.1);
}




.reference {
  color: #6f6f6f;
  font-size: 0.7em;
  position: absolute;
  bottom: 20px;
  text-align: left !important;
  padding-left: 1em;
  text-indent: -1em;
}

/* BUTTONS */

.button {
  fill: var(--link-color);
  font-family: Times;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.button:hover {
  fill: red;
  cursor: pointer;
}


.refresh-sample-button form {
  overflow: hidden;
}

.refresh-sample-button button {
  color: black;
  background: none;
  border: none;
  font-size: 0.8em !important;
}

[data-theme='dark'] .refresh-sample-button button {
  color: white;
}

.refresh-sample-button button:hover {
  -webkit-animation:spin 1s linear;
  -moz-animation:spin 1s linear;
  animation:spin 1s;
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
