/* css styles */

.reveal {
  font-family: Arial;
}

.reveal h1 .reveal h2 .reveal h3 {
  font-family: Arial;
}

.reveal .title h2 {
  font-size: 2.2em;
}



.lecture-title {
  font-weight: 900;
}

.cover-page {
  position: relative;
}

.bg-img {
  position: absolute;
  text-align: center;
  max-height: 100%;
  width: auto;
  margin: auto;
  top: 1.5em;
  z-index: -1;
}
