/* css styles */

#quarto-content section:first-of-type h2:first-of-type {
    margin-top: 0.2em;
}

.box {
  width: 100%;
  float: left;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  margin-top: 0em;
  margin-bottom: 1em;
  position: relative;
}


.box h2 {
  font-size: min(max(1em, 5vw), 2em);
  margin-top: 0.2em;
  padding-top: 0;
  margin-left: 0.2em;
  margin-bottom: 0;
  border-bottom: none;
  width: 90%;
}

.box:hover {
  border: 1px solid black;
}

.date {
  color: grey;
  position: absolute;
  top: 0.6em;
  right: 0.4rem;
  margin: 0;
  padding: 0;
  font-size: min(max(0.5em, 3vw), 1em);
}

.lecture-card {
}

.lecture-image {
  float: left;
  width: 50%;
}

.lecture-overview {
  position: relative;
  float: right;
  font-size: min(max(0.8em, 2vw), 1em);
  width: 50%;
}

.footer {
  padding: 0;
  margin-top: -1em;
  float: left;
  width: 100%;
}
